/* include normalize and reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background: #f5ecc1;
}
.cont-top-prefession {
    display: flex;
}
.bg-top {
    color: white;
    background: #010313;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 40px 0;
}
.photo {
    width: 13rem;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 0.55rem double #6a6a6a;
}
.name,
.profession,
.sub,
.ability,
.sub-text,
.position,
.name,
.reference-type,
.boss-name,
.title {
    font-family: 'Oswald', sans-serif;
}
.profession,
.name,
.lastname {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
}
.f-bold {
    font-weight: 500;
}
.profession {
    font-size: 1.3rem;
}
.bg-bottom {
    width: 100%;
    padding: 30px 0;
    color: #010313;
    display: flex;
    flex-direction: column;
}
.cont-abilities {
    margin-bottom: 30px;
}
.col1 {
    order: 1;
}
.col2 {
    order: 3;
}
.col3 {
    order: 2;
}
.col4 {
    order: 4;
}
.col5 {
    order: 5;
}
.col6 {
    order: 6;
}
.sub {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 0 2%;
    line-height: 1.2;
}
.abilities {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.ability1 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 74%,
        rgba(1, 3, 19, 0) 95%
    );
    border-top: 1px solid #010313;
}
.ability2 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 62%,
        rgba(1, 3, 19, 0) 85%
    );
    border-top: 1px solid #010313;
}
.ability3 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 32%,
        rgba(1, 3, 19, 0) 75%
    );
    border-top: 1px solid #010313;
}
.ability4 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 52%,
        rgba(1, 3, 19, 0) 80%
    );
    border-top: 1px solid #010313;
}
.ability5 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 82%,
        rgba(1, 3, 19, 0) 95%
    );
    border-top: 1px solid #010313;
}
.ability6 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 72%,
        rgba(1, 3, 19, 0) 95%
    );
    border-top: 1px solid #010313;
}
.ability7 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 52%,
        rgba(1, 3, 19, 0) 70%
    );
    border-top: 1px solid #010313;
}
.ability8 {
    width: 11.5rem;
    height: 1.1rem;
    background: linear-gradient(
        to right,
        rgba(1, 3, 19, 1) 0%,
        rgba(1, 3, 19, 1) 62%,
        rgba(1, 3, 19, 0) 85%
    );
    border-top: 1px solid #010313;
}
.ability {
    width: 47%;
    display: flex;
    flex-direction: column;
    margin: 3% 1% 0 2%;
}
.sub-text {
    font-size: 1rem;
    font-weight: 400;
}
.position {
    font-size: 1.2rem;
    font-weight: 600;
}
.cont-company {
    margin-bottom: 5px;
    text-align: center;
}
.reference {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.companies {
    margin-bottom: 30px;
}
.reference-type {
    font-size: 1.8rem;
    font-weight: 600;
    padding-left: 2%;
}
.cont-reference-top,
.cont-reference-bottom {
    display: flex;
}
.cont-reference-bottom {
    margin-bottom: 30px;
}
.name-reference {
    width: 50%;
    padding-left: 6%;
    padding-right: 4%;
}
.boss-name {
    font-size: 1.2rem;
    font-weight: 600;
}
.title {
    font-size: 1.2rem;
    font-weight: 600;
}
.institution {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}
.titles {
    margin-bottom: 25px;
    padding-left: 2%;
    text-align: center;
}
.txt-about-me {
    text-align: center;
    /* empty property? */
    padding: ;
    padding-left: 3%;
    padding-right: 4%;
    margin-bottom: 30px;
}
.passions {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
}
.passion {
    width: 29%;
    margin: 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-passion {
    width: 75px;
}
.contact-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 3px dashed #010313;
    padding-top: 20px;
}
.cel-mail {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    width: 80%;
    margin-bottom: 15px;
}
.img-contact {
    width: 30px;
    margin-right: 5px;
}
.cel-mail {
    color: #010313;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
}
@media screen and (min-width: 600px) {
    .cont-company {
        width: 30%;
    }
    .companies {
        display: flex;
        justify-content: space-between;
    }
    .name-reference {
        padding-left: 10%;
        display: inline-flex;
        width: 49%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cel-mail {
        justify-content: center;
    }
    .reference {
        margin-bottom: 30px;
        display: block;
        text-align: left;
    }
}
@media screen and (min-width: 769px) {
    .left,
    .right {
        width: 50%;
    }
    .left {
        padding-left: 5%;
    }
    .right {
        padding-right: 5%;
    }
    .bg-bottom {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 5%;
    }
    .contact-footer {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .bg-top {
        padding: 40px 5%;
    }
    .column {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .name-reference {
        padding-left: 3%;
    }
    .bg-bottom {
        flex-direction: row;
        max-width: 1100px;
        margin: auto;
    }
    .reference {
        width: 85%;
    }
    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6 {
        order: 1;
    }
}
