.main {
  width: 100vw;
  height: 100vh;
  background: rgb(54, 0, 105);
  background: radial-gradient(circle, rgba(54, 0, 105, 1) 0%, rgba(8, 0, 70, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 60px;
  font-weight: 200;
  letter-spacing: 2px;
  color: #dda300;
  text-align: center;
}
